@import 'variables.scss';

body {
	padding-left: 10px;
}

a {
 	margin-left: $big-margin;
    font-size: 36px;
	text-decoration: none;
	display: flex;
	color: #6a0046 !important;
	background: orange;
    animation: opacify 0.4s !important;
    transform: translateY(50px);
}

